:root{
    --primary-color: paleturquoise;
    --soft-black: #333;
    --white-color: white;
    --soft-primary-color: rgba(175, 238, 238, 0.427);
}

.dark-theme{
    --soft-black: #e5e5e5;
    --white-color: #333;
    --primary-color: blue;
    --soft-primary-color: rgba(0, 0, 255, 0.426);
}